# Lithops modules
flask
pika
glob2
ibm-cos-sdk
redis
requests
PyYAML
kubernetes
numpy
cloudpickle
ps-mem
tblib


# Geospatial modules
rio-cogeo==1.1.7
affine==2.2.2
attrs==18.2.0
bs4==0.0.1
chardet==3.0.4
cligj==0.5.0
cycler==0.10.0
GDAL==2.4.0
geojson==2.4.1
geomet==0.2.0.post2
grass-session==0.1
idna==2.8
kiwisolver==1.0.1
pyparsing==2.3.1
snuggs==1.4.2
soupsieve==1.7.3
rasterio==1.1.0
pyproj==2.4.1
Fiona==1.8.11
Shapely==1.6.4.post2
 