# Lithops modules
flask
pika
glob2
ibm-cos-sdk
redis
gevent
requests
PyYAML
kubernetes
numpy
cloudpickle
ps-mem
tblib

# Geospatial modules
pandas
scipy
Shapely
rasterio
geojson
geomet
grass-session
rasterio
Fiona
GDAL==2.4.0
